
<section class="cart-show">

<header class="page-header">
<h1>My Cart</h1>
</header>
  <% if enhanced_cart.length == 0 %>
    <div class="alert alert-info" role="alert">
      Your cart is currently empty. <a href="<%= root_path %>" class="alert-link">Continue Shopping</a>
    </div>
  <% else %>
    <%= render 'cart' %>
  <% end %>
</section>
